<h1>Welcome to the animal's shelter!</h1>
<p>@Html.ActionLink("See all animals", "Index", "Animals")</p> 
<p>@Html.ActionLink("List animals by descending order", "SortByDescendingOrder","Animals")</p>
<p>@Html.ActionLink("List animals by ascending order", "SortByAscendingOrder","Animals")</p>